/****************Style sheet specfic to the blog page***********************/
#pic {
  visibility: hidden;
  padding-right: 50px;
}
#text {
  visibility: hidden;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
body {
  overflow-x: hidden;
}
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-postion: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
section.module.parallax-1 {
  background-image: url("../img/Pic2.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/Pic2.jpg");
  margin-bottom: 0;
}
footer {
  background-color: green;
}
.box-wrapper {
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
}
.box-wrapper.loading:nth-child(odd) {
  transform: translate(100%);
  -webkit-transform: translate(100%);    
}
.box-wrapper.loading:nth-child(even) {
  transform: translate(-100%);        
  -webkit-transform: translate(-100%);
}
.box-wrapper:nth-child(odd) .box {
  background: orange;
}
.box-wrapper:nth-child(even) .box {
  background: red;
}
.box {
  content: "";
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size; 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-sixe: 160px;
  }
}